@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace, sans-serif;
  scroll-behavior: smooth;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-bodoni {
  font-family: ltc-bodoni-175, serif;
  font-style: normal;
  font-weight: 400;
}
